.bloc_home {

    .bloc_titre {
        margin: 0;

        svg {
            margin-bottom: -12rem;
            margin-left: -4rem;
            margin-top: -16rem;
        }

        span {
            display: block;
            width:100%;
        }
    }

    .subtitle {
        font-family:'morganite_bold', Arial, Helvetica, sans-serif;
        font-size: 10em;
        line-height: 1em;
        text-transform: uppercase;
        margin: 3.8rem 0;
    }

    p {
        font-family: 'muli_semibold', Arial, Helvetica, sans-serif;
        font-size: 1.8em;
        line-height: 1.2em;
    }

    img {
        width:100%;
        height:85rem;
        object-fit: cover;
        box-shadow:0 1rem 1.5rem rgba(0,0,0,0.2);
    }

    &.v2 {
        .bloc_titre {
            height:100%;
            display: flex;
        }

        .ligne {
            display:flex;
        }
    }

    &.polyvalents {
        display:flex;
        flex-wrap: wrap;
        margin-top:25rem;
        position: relative;
        padding-bottom:80rem;

        &::after {
            content:'';
            display: block;
            position:absolute;
            top:-8rem;
            left:-5rem;
            width:50%;
            height:35%;
            background: url('../../static/imgs/taches/truk2.png') no-repeat center center;
            background-size:contain;
            z-index:-1;
        }

        > div {
            width:50%;

            img:last-child {
                position: absolute;
                left:0;
                bottom:0;
                width:60%;
            }
        }

        .bloc_titre {
            
            svg {
                width:80%;
            }
        }

        p {
            width:80%;
        }
    }

    &.altini {
        padding-top:21.6rem;
        position:relative;

        .bloc_titre {
            align-items: center;
            position: relative;

            #ALTERNANCE {
                position:absolute;
                top:-48rem;
                left:-20%;
            }
        }

        .ligne {
            &:first-of-type {
                flex-direction: row-reverse;
                margin-bottom:-15rem;
                z-index:0;
                position:relative;

                > div {
                    width:50%;
                }

                > div:first-of-type {
                    position:relative;
                    background: url('../../static/imgs/taches/truk.png') no-repeat center center;
                    background-size:contain;
                }
            }

            &:last-of-type  {
                z-index:1;
                position:relative;

                > div:first-of-type {
                    width:35%;
                    padding-right:5.8rem;
                    padding-bottom:5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                }

                > div:last-of-type {
                    width:65%;
                }
            }
        }
    }

    &.departement {
        margin-top:32.6rem;

        .ligne {
            &:first-of-type {
                margin-bottom: -20rem;
                position:relative;
                z-index:1;

                > div {
                    width:50%;
                    height:85rem;
                    position:relative;

                    img {
                        position:absolute;
                        top:0;
                        right:0;
                        width:125%;
                        max-width:125%;
                        z-index:-1;
                    }
                }
            }

            &:last-of-type {
                flex-direction: row-reverse;
                position:relative;
                z-index:0;

                > div {
                    width:50%;

                    svg {
                        margin-left: -20rem;
                        margin-top: -5rem;
                        margin-bottom:-20rem;
                    }

                    p {
                        padding:0 15.5rem;
                    }

                    .action {
                        margin-left:auto;
                        margin-right:15.5rem;
                    }
                }
            }
        }
    }

    &.pays {
        display: flex;
        margin-top:16rem;
        padding-left:11.5rem;

        .bloc_titre {
            svg {
                margin-left: -15rem;
                margin-bottom: -21rem;
                margin-top: -29rem;
            }
        }

        > div {
            width:50%;

            p {
                padding-right:15rem;
            }

            .action {
                margin-left:auto;
                margin-right:15rem;
            }

            &:last-of-type {
                padding-top:6rem;
            }
        }
    }

    &.contact {
        margin-top:22.4rem;
        padding-top:20rem;
        padding-left:11.5rem;
        display: flex;
        position:relative;

        > div {

            &:first-of-type {
                width:40%;
                padding-top:20rem;
                padding-right:10rem;
            }

            &:last-of-type {
                width:60%;

                img {
                    height:76.8rem;
                }
            }

            svg {
                position:absolute;
                top:0;
                left:35%;
                transform:translateX(-50%);
                margin: 0;
                margin-top: -27rem;
                width:50%;
            }
        }
    }

    &.rejoindre {
        display: flex;
        flex-direction: row-reverse;
        margin-top:23.8rem;

        > div {
            width:50%;

            &:first-of-type {
                svg {
                    width:90%;
                    margin-bottom: 0;
                }
            }

            &:last-of-type {
                padding-top:9rem;

                img {
                    height:63.4rem;
                }
            }
        }
    }

    &.formation {
        display:flex;
        flex-wrap: wrap;
        margin-top:30rem;
        position: relative;
        padding-bottom:8rem;

        &::after {
            content:'';
            display: block;
            position:absolute;
            top:-8rem;
            left:-5rem;
            width:50%;
            height:35%;
            background: url('../../static/imgs/taches/truk2.png') no-repeat center center;
            background-size:contain;
            z-index:-1;
        }

        > div {
            width:50%;
        }

        .bloc_titre {
            
            svg {
                width: 120%;
                max-width: 120%;
                margin-bottom: -25rem;
                margin-left: -23rem;
                margin-top: -48rem;
            }
        }

        p {
            width:80%;
        }
    }

    &.design {
        padding-top:21.6rem;
        position:relative;

        .bloc_titre {
            align-items: center;
            position: relative;

            svg {
                position:absolute;
                top: -21rem;
                right: -26rem;
                width: 120%;
                max-width: 120%;
            }
        }

        .ligne {
            &:first-of-type {
                flex-direction: row-reverse;
                margin-bottom:-55rem;
                z-index:1;
                position:relative;

                > div:last-of-type {
                    width:60%;
                }

                > div:first-of-type {
                    position:relative;
                    width:40%;
                }
            }

            &:last-of-type  {
                z-index:0;
                position:relative;

                > div:first-of-type {
                    padding-right:1.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    p:first-of-type {
                        margin-right:15rem;
                        margin-bottom: 8rem;
                    }

                    p:last-of-type {
                        margin-left:15rem;
                        text-align: right;
                    }
                }

                > div {
                    width:50%;
                }
            }
        }
    }

    &.developpement {
        padding-top:35rem;
        position:relative;

        .bloc_titre {
            align-items: center;
            position: relative;

            svg {
                position:absolute;
                top: -25rem;
                left: 0rem;
                width: 120%;
                max-width: 120%;
            }
        }

        .ligne {
            &:first-of-type {
                margin-bottom:-50rem;
                z-index:1;
                position:relative;

                > div:last-of-type {
                    width:60%;
                }

                > div:first-of-type {
                    position:relative;
                    width:40%;
                }
            }

            &:last-of-type  {
                z-index:0;
                position:relative;
                flex-direction: row-reverse;

                > div:first-of-type {
                    padding-left:1.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    p:first-of-type {
                        margin-right:15rem;
                        margin-bottom: 8rem;
                    }

                    p:last-of-type {
                        margin-left:15rem;
                        text-align: right;
                    }
                }

                > div {
                    width:50%;

                    img {
                        height:87.9rem;
                    }
                }
            }
        }
    }

    &.communication {
        padding-top:7rem;
        position:relative;

        .bloc_titre {
            align-items: center;
            justify-content: center;
            position: relative;

            span {
                text-align: center;
            }

            svg {
                height:65rem;
                margin-bottom: -52rem;
                margin-left: 0;
                margin-top: 0;
            }
        }

        .ligne {
            &:first-of-type {
                flex-direction: column;
                margin-bottom:-55rem;
                margin-top: -25rem;
                z-index:0;
                position:relative;
                background: url('../../static/imgs/taches/tache_jaune.png') no-repeat right 20rem;
                background-size:80%;

                > div:last-of-type {
                    width:60%;
                }

                > div:first-of-type {
                    position:relative;
                    width:100%;
                    height:65rem;
                }
            }

            &:last-of-type  {
                z-index:1;
                position:relative;

                > div:first-of-type {
                    padding-right:1.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    p:first-of-type {
                        margin-right:15rem;
                        margin-bottom: 8rem;
                    }
                }

                > div {
                    width:50%;

                    img {
                        height:87.9rem;
                    }
                }
            }
        }
    }

    &.motion {
        padding-top:7rem;
        position:relative;

        .bloc_titre {
            align-items: center;
            justify-content: center;
            position: relative;

            svg {
                height:85rem;
                margin-bottom:0;
                margin-left: 0;
                margin-top: 0;
            }
        }

        .ligne {
            &:first-of-type {
                flex-direction: column;
                z-index:0;
                position:relative;
                background: url('../../static/imgs/taches/tache_foncee_6.png') no-repeat center center;
                background-size:contain;

                > div:last-of-type {
                    width:60%;
                }

                > div:first-of-type {
                    position:relative;
                    width:100%;
                    height:85rem;
                }
            }

            &:last-of-type  {
                z-index:1;
                position:relative;

                > div:first-of-type {
                    padding-left:1.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    p:first-of-type {
                        margin-right:15rem;
                        margin-bottom: 8rem;
                    }
                }

                > div {
                    width:50%;

                    img {
                        height:87.9rem;
                    }
                }
            }
        }
    }

    &.stagealt {
        padding-top:7rem;
        position:relative;

        .bloc_titre {
            align-items: center;
            justify-content: center;
            position: relative;

            svg {
                height:65rem;
                margin-bottom: -50rem;
                margin-left: 0;
                margin-top: 0;
            }
        }

        .ligne {
            &:first-of-type {
                flex-direction: column;
                margin-bottom:-41rem;
                margin-top: -25rem;
                z-index:0;
                position:relative;

                > div:last-of-type {
                    width:75%;
                    margin-left:auto;
                }

                > div:first-of-type {
                    position:relative;
                    width:100%;
                    height:65rem;
                }
            }

            &:last-of-type  {
                z-index:1;
                position:relative;
                flex-direction: row-reverse;

                > div:first-of-type {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    p {
                        margin-left:15rem;

                        &:not(:last-of-type) {
                            margin-bottom: 8rem;
                        }
                    }
                }

                > div {
                    width:50%;

                    img {
                        height:87.9rem;
                    }
                }
            }
        }
    }

    &.stageetranger {
        display:flex;
        flex-wrap: wrap;
        margin-top:30rem;
        position: relative;
        padding-bottom:8rem;

        &::after {
            content:'';
            display: block;
            position:absolute;
            top:-8rem;
            left:-5rem;
            width:50%;
            height:35%;
            background: url('../../static/imgs/taches/truk2.png') no-repeat center center;
            background-size:contain;
            z-index:-1;
        }

        > div {
            width:50%;
        }

        .bloc_titre {
            
            svg {
                width: 120%;
                max-width: 120%;
                margin-bottom: -25rem;
                margin-left: -23rem;
                margin-top: -48rem;
            }
        }

        p {
            width:80%;
        }
    }
}