:root {
    font-size:10px;
}

body {
    // font-size:62.5%;
}

// VARIABLES
@import 'variables/colors';
@import 'variables/fonts';
@import 'variables/general';

// NORMALIZE
@import 'normalize/normalize.scss';

// INIT
body {
    font-family:'muli_semibold', Arial, Helvetica, sans-serif;
    color:$blue;
    background-color:$darkgrey;
    overflow-x:hidden;
}

img, svg {
    max-width:100%;
}

// TEXTES
@import 'textes/liens.scss';
@import 'textes/titres.scss';

// BLOCKS
@import 'header/uiHeader.scss';
@import 'footer/uiFooter.scss';
@import 'header/uiNav.scss';
@import 'blocs/head_page.scss';
@import 'blocs/bloc_home.scss';
@import 'blocs/ecoutezEtudiants.scss';
@import 'blocs/bloc_cours.scss';
@import 'blocs/bloc_boss.scss';
@import 'blocs/bloc_projets.scss';

// PAGES
@import 'pages/accueil.scss';
@import 'pages/formation.scss';
@import 'pages/mobilite.scss';