// VARIABLES
@import 'variables/colors';
@import 'variables/fonts';

// NORMALIZE
@import 'normalize/normalize.scss';

// TEXTES
@import 'textes/liens.scss';

// INIT
/** INIT **/
body {
    font-size:62.5%;
    font-family:'muli_semibold', Arial, Helvetica, sans-serif;
    color:$blue;
    background-color:$darkgrey;
}