#accueil {
    .head_page {
        background-color: $green;

        .left {
            width: 35%;
            background-color: $green;

            @media (break-mid) {
                width: 45%;
            }

            .content {
                position: absolute;
                width: 100%;
                top: 50%;
                transform: translate(-50%, -50%);
                left: 50%;
                padding-right: 60%;

                @media screen and (max-width: $break-mid) {
                    width: 100%;
                }

                h1 {
                    font-family: "morganite_bold", Arial, Helvetica, sans-serif;
                    font-size: 5em;
                    line-height: 1.2em;
                    text-transform: uppercase;
                }

                h2 {
                    font-family: "morganite_bold", Arial, Helvetica, sans-serif;
                    font-size: 3.5em;
                    line-height: 1.2em;
                }

                p {
                    font-family: "muli_semibold", Arial, Helvetica, sans-serif;
                    font-size: 1.8em;
                    line-height: 1.2em;
                }
            }
        }

        .right {
            width: 65%;
            background-color: $blue;

            @media (break-mid) {
                width: 55%;
            }
        }
    }
}
