#accueil {
    .head_page {
        display: flex;
        height:100vh;
        background-color: $green;

        .left {
            width:35%;
            background-color: $green;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            .content {
                position:absolute;
                width:100%;
                top:50%;
                transform:translate(-50%, -50%);
                left:50%;
                padding-right: 60%;
                
                h1 {
                    font-family:'morganite_bold', Arial, Helvetica, sans-serif;
                    font-size: 5em;
                    line-height: 1.2em;
                    text-transform: uppercase;
                }

                h2 {
                    font-family:'morganite_bold', Arial, Helvetica, sans-serif;
                    font-size: 3.5em;
                    line-height: 1.2em;
                }

                p {
                    font-family: 'muli_semibold', Arial, Helvetica, sans-serif;
                    font-size: 1.8em;
                    line-height: 1.2em;
                }
            }
        }

        .right {
            width:65%;
            background-color: $blue;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        .ancre {
            position:absolute;
            bottom:0;
            left:50%;
            transform:translateX(-50%);
            font-family: 'muli_semibold', Arial, Helvetica, sans-serif;
            font-size: 1.6em;
            line-height: 1.2em;
            color:$blue;
            text-align: center;

            &::after {
                content:'';
                display: block;
                width:2.1rem;
                height:4.7rem;
                background:url('../../static/svgs/scroll.svg') no-repeat center center;
                background-size: cover;
                margin: 1rem auto;
            }
        }
    }
}