body.actu {
    background-color: $yellow;
    color: $darkgrey;

    #menuhandle {
        background-color: #ffffff;

        &::before {
            background-color: #ffffff;
        }

        &::after {
            background-color: #ffffff;
        }

        &.toCross {
            background-color: transparent;
        }
    }

    footer {
        a {
            color: $darkgrey;
        }

        > #backToTop {
            color: $green;

            &::after {
                color: $green;
            }
        }

        > #logoFooter a::before,
        #logoFooter a::after {
            background-color: $darkgrey;
        }

        #contact p a {
            color: $darkgrey;
        }

        #links > li > a {
            &.reseaux {
                &.linkedin {
                    background: url("../../static/logos/linkedblack.png") no-repeat center center;
                    background-size: contain;
                }

                &.facebook {
                    background: url("../../static/logos/fbblack.png") no-repeat center center;
                    background-size: contain;
                }

                &.insta {
                    background: url("../../static/logos/instblack.png") no-repeat center center;
                    background-size: contain;
                }

                &.twitter {
                    background: url("../../static/logos/twblack.png") no-repeat center center;
                    background-size: contain;
                }
            }

            &.iut {
                background: url("../../static/logos/iutblack.png") no-repeat center center;
                background-size: contain;
            }

            &.universitefc {
                background: url("../../static/logos/univblack.png") no-repeat center center;
                background-size: contain;
            }
        }
    }
}

#actu {
    > .head_page {
        > h1 {
            width: 100%;
            display: flex;
            justify-content: center;

            svg {
                width: 100rem;
                margin-top: -82px;
            }

            > span {
                margin-left: -10rem;
            }
        }

        .ancre {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            font-family: "muli_semibold", Arial, Helvetica, sans-serif;
            font-size: 1.6em;
            line-height: 1.2em;
            color: $blue;
            text-align: center;

            &::after {
                background: url("../../static/svgs/scrollDark.svg") no-repeat center center;
                background-size: cover;
                margin: 1rem auto;
            }
        }
    }

    .actualite {
        .buttons_reseaux {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            font-family: "muli_bold";
            font-size: 3em;

            > li {
                > button {
                    height: 5.4rem;
                    width: 10rem;
                    border: solid $green 3px;
                    border-radius: 27px;
                    color: $green;
                    margin: 1rem;
                }

                > #twitter {
                    text-indent: -9999em;
                    background: url("../../static/logos/twgreen.png") no-repeat center center;
                    background-size: contain;

                    &.active {
                        background: url("../../static/logos/twyellow.png") no-repeat center center;
                        background-size: contain;
                        background-color: $green;
                    }
                }

                #facebook {
                    text-indent: -9999em;
                    background: url("../../static/logos/fbgreen.png") no-repeat center center;
                    background-size: contain;

                    &.active {
                        background: url("../../static/logos/fbyellow.png") no-repeat center center;
                        background-size: contain;
                        background-color: $green;
                    }
                }

                #instagram {
                    text-indent: -9999em;
                    background: url("../../static/logos/instgreen.png") no-repeat center center;
                    background-size: contain;

                    &.active {
                        background: url("../../static/logos/instyellow.png") no-repeat center center;
                        background-size: contain;
                        background-color: $green;
                    }
                }

                #tous.active {
                    color: $yellow;
                    background-color: $green;
                }
            }
        }

        > .lists {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .post {
                position: relative;
                width: 32%;
                height: 330px;
                margin: 4em 0;

                &::after {
                    content: "";
                    position: absolute;
                    width: 6.4rem;
                    height: 6.4rem;
                    left: 50%;
                    top: 1rem;
                    transform: translate(-50%, 0);
                }

                .filtre,
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }

                img {
                    object-fit: cover;
                }

                .filtre {
                    background-color: $darkgrey;
                    opacity: 70%;
                }

                > p {
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    padding: 0 7rem;
                    font-size: 2em;
                }
            }

            .facebook {
                color: $blue;

                &::after {
                    background-image: url("../../static/logos/fbactu.png");
                    background-size: 100%;
                }
            }

            .instagram::after {
                background-image: url("../../static/logos/instactu.png");
                background-size: 100%;
            }

            .twitter {
                background-color: $brown;
                color: $darkgrey;

                &::after {
                    background-image: url("../../static/logos/twactu.png");
                    background-size: 100%;
                }
            }
        }
    }
}
