body.contact {
    #menuhandle {
        background-color: #ffffff;

        &::before {
            background-color: #ffffff;
        }

        &::after {
            background-color: #ffffff;
        }

        &.toCross {
            background-color: transparent;
        }
    }
}

#contact {
    .head_page {
        a.action {
            width: fit-content;

            span {
                margin-left: 0.5rem;
            }
        }

        .bloc_title {
            background: url('../../static/imgs/taches/tache_foncee_5.png') no-repeat bottom right;
            background-size:95%;
        }
    }
}