body.departement {
    background-color:$green;

    #menuhandle {
        background-color:#ffffff;
    
        &::before {
            background-color:#ffffff;
        }
    
        &::after {
            background-color:#ffffff;
        }

        &.toCross {
            background-color: transparent;
        }
    }
}

#departement {
    .greybck {
        background-color: $darkgrey;
    }
}