body.departement {
    background-color:$green;

    #menuhandle {
        background-color:#ffffff;
    
        &::before {
            background-color:#ffffff;
        }
    
        &::after {
            background-color:#ffffff;
        }

        &.toCross {
            background-color: transparent;
        }
    }
}

#departement {
    .greybck {
        background-color: $darkgrey;
    }

    .head_page {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .bloc_title {
            width:50%;
            align-self: flex-start;

            svg {
                max-width: 200%;
                width: 135%;
                margin-left: -18rem;
                margin-top: -20rem;

                &#bienvenuecheznous {
                    margin-bottom: -38rem;
                }

                &#brushsvg {
                    width:63%;
                    margin: 0;
                    margin-left: auto;
                    display: block;
                    transform: rotate(9deg);
                    margin-bottom: -18rem;
                }

                &#voussvg {
                    width:63%;
                    margin: 0;
                    margin-left: auto;
                    display: block;
                    margin-right:10rem;
                }
            }
        }

        .content {
            width:50%;
            padding-right:15rem;

            img {
                height:58rem;
                object-fit: cover;
            }

            p {
                margin: 0;
                font-size: 1.8em;
                line-height: 1.2em;
                margin-left: 10rem;
                margin-top:2rem;
                text-align: right;
            }

            .action {
                margin: 0;
                margin-left: auto;
            }
        }
    }
}