a {
    color:$blue;
}

a.action {
    color:$blue;
    font-family: 'muli_semibold', Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    line-height: 1.2em;
    width:12.5rem;
    height:10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background:url('../../static/svgs/gribouille.svg') no-repeat center center;
    background-size: contain;

    &.dark {
        background-image:url('../../static/svgs/gribouille_dark.svg')
    }

    &.big {
        width:15.5rem;
        height:15rem;
    }
}